.feedbackButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin: 20px;
}

.feedbackButtons button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #0e0b0b;

  border: 3px solid #000;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.feedbackButtons button:hover {
  background-color: #000;
  color: aliceblue;
}
